<!DOCTYPE html>
<html>
<head>
    <title>Main Page</title>
</head>
<body>
    <h1>Welcome to the Main Page!</h1>
    {% if user.is_authenticated %}
        <a href="{% url 'create_wiki_document' %}">
            <button>글 작성하기</button>
        </a>
        <a href="{% url 'user_wiki_documents' user.id %}">
            <button>사용자가 작성한 글 목록</button>
        </a>
        <a href="{% url 'logout' %}">
            <button>Log Out</button>
        </a>
    {% else %}
        <p>Please <a href="{% url 'login' %}">login</a> to create new Wiki Document or view your documents.</p>
        <a href="{% url 'signup' %}">
            <button>Sign Up</button>
        </a>
        <a href="{% url 'login' %}">
            <button>Login</button>
        </a>
    {% endif %}
    <a href="{% url 'wiki_document_list' %}">
        <button>Wiki Document List</button>
    </a>
</body>
</html>

