<!-- templates/user_wiki_documents.html -->
<!DOCTYPE html>
<html>
<head>
    <title>My Wiki Documents</title>
</head>
<body>
    <h1>My Wiki Documents</h1>
    <ul>
        {% for document in user_documents %}
            <li>
                {{ document.title }}
                <a href="{% url 'update_wiki_document' document.id %}">Edit</a>
                <a href="{% url 'delete_wiki_document' document.id %}">Delete</a>
            </li>
        {% empty %}
            <li>No documents found.</li>
        {% endfor %}
    </ul>
</body>
</html>
